/*html,
body{
    margin:0;
    padding:0;
    color:#333333;
    background: color #f5f5f5;
}
h1{
    font-size:28px;
    text-align:center;
    font-weight: normal;
    margin:0;
    padding:20px 0;
}
section{
    width:500px;
    margin:40px auto;
    background-color:#ffffff;
    box-shadow:0 0 3px @cccccc;
}
.slider-slides{
    width:300%;
}
.slider-inner{
    overflow:hidden;
}
.slider-slides img{
    float:left;
    width:500px;
    height:320px;
}*/
html,body{
    margin:0 auto;
    padding:0;
    
    width: 1200px;
    height: 100%;
    
    font-family: 'Cuprum', sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    
    background-color:#ffffff;
    }
    img{
        max-width:100%;
    }
    
    a {
        text-decoration: none;
      }
    .container-joint{
        width: 940px;
        margin:0 auto;
        padding:0;
    }
    /*--------------------HEADER--------------------------*/
    .main-header-wrapper{
        display:flex;
        flex-direction: column;
    }
    
    .main-header{
        width:100%;
        margin-bottom:60px;
    
        background-color: #f3f7f8;
    }
    
    .top-menu{
        width:100%;
        height: 42px;
        padding:0;
        background-color: #293449;
    }
    .top-menu .container-joint{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
    }
    .top-menu-item{
        flex-grow:1;
    }
    .top-menu-input{
        margin:0;
    }
    .search-input{
        width:275px;
        height: 42px;
        color: #ffffff;
        font-size: 17px;
        font-weight: 400;
        line-height: 18px;
        box-sizing: border-box;
        padding:12px 16px;
        
        padding-left:40px;
        background-color: #293449;
        border:none;
    }
    input::-webkit-input-placeholder {
        color: #ffffff;
        font-size: 17px;
        font-weight: 400;
        line-height: 18px;
        
     }
    input:-moz-placeholder {
        color: #ffffff;
        font-size: 17px;
        font-weight: 400;
        line-height: 18px;
    }
    .top-menu a{
        display:block;
        height: 42px;
        color: #ffffff;
        font-family: Cuprum;
        font-size: 17px;
        font-weight: 400;
        line-height: 18px;
    
        padding:12px 20px;
        box-sizing:border-box;
        background-color: transparent;
    }
    .top-menu a:hover{
        background-color: #212a3a;
    }
    .top-menu a:nth-child(2),
    .top-menu a:nth-child(3){
    padding-left:40px;
    }
    .top-menu a:last-child{
    background-color: #63a63e;
    text-align: center;
    
    }
    .top-menu a:last-child:hover{
        background-color: #5fbb2d;
    }
    .top-menu .logo{
        display:block;
        margin:0;
        height: 47px;
        width: 220px;
        color: #ffffff;
        font-family: Cuprum;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        text-align: center;
    
        box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
        background-color: #ee3643; 
    }
    .top-menu .logo:hover{
        box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
        background-color: #ca2c37;
    }
    .presentation{
    width: 196px;
    margin-right:50px;
    margin-left:65px;
    color: #ee3643;
    font-family: Cuprum;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    font-weight:normal;
    }
    
    .row-2{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        padding:45px;
        
    }
    .header-flex-column{
        width: 270px;
        margin-right: 65px;
        margin-right: 70px;
        text-align: center;
    }
    .adress{
    color: #32425c;
    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    }
    .tel{
    margin:0;
    padding:13px 52px 11px 74px;
    color: #ee3643;
    font-family: Cuprum;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    border: 3px solid #ffffff;
    }
    .user-navigation{
        width:284px;
        margin:0;
        padding:0;
    
        list-style:none;
    }
    .user-navigation li{
        display:inline-block;
        vertical-align: middle;
        
    }
    .user-navigation li:first-child{
        margin-right:10px;
    }
    
    .login-link,
    .check-in-link{
        display:block;
        
        padding:14px 25px;
        
        background-color: #ffffff;
    
        color: #000000;
        font-family: Cuprum;
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
    }
    .login-link{
        padding-left: 40px;
    }
    .login-link:hover,
    .check-in-link:hover,
    .login-link:focus,
    .check-in-link:focus{
        color: #ee3643;
    }
    .login-link:active,
    .check-in-link:active{
        opacity: 0.3;
        color: #000000;
    }
    
    
    .main-navigation{
        margin:0 auto;
        margin-bottom:60px;
        padding:0;
        border-bottom:1px solid transparent;
    }
    .main-nav-list{
        display:flex;
        justify-content: space-between;
        margin:0;
        padding:0;
        list-style:none;
    
        box-shadow: inset 0 -5px 0 #293449;
        background-color: #32425c;
    }
    
    .main-nav-item a{
    display:block;
    margin:0;
    padding:24px 30px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    
    }
    .main-nav-item a:hover,
    .main-nav-item a:focus{
        background-color:#293449;
    }
    .main-nav-item a:active{
        background-color:#1d2739;
        color:rgba(185, 64, 64, 0.5);
    }
    
    
    /*----------------------PAGE 1---------------------*/
    .main-catalog-list{
        margin:0;
        padding:0;
    
        list-style:none;
    }
    .main-catalog{
        margin-bottom:50px;
    }
    .main-catalog-item{
        margin-bottom:20px;
        box-sizing: border-box;
        padding:25px;
        margin:0;
        width:300px;
    }
    .main-catalog-item p{
    margin:0;
    margin-bottom:10px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    }
    .main-catalog-item a{
    padding:10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    
    background-color:rgba(0, 0, 0, 0.1);
    }
    .main-catalog-item a:hover,
    .main-catalog-item a:focus{
    background-color: #000000;
    opacity: 0.2;
    }
    .main-catalog-item a:active{
    background-color: #000000;
    opacity: 0.3;
    }
    
    .yellow{
        float:left;
        margin-right:20px;
        background-color: #ffbf47;
    }
    .blue{
        float:left;
        margin-right:20px;
        background-color: #3bbce3;
    }
    .purple{
        margin-bottom:20px;
        float:right;
        background-color:#dc91d8;
    }
    .green{
        margin-bottom:20px;
        float:right;
        clear:right;
        background-color: #8ed78f;
    }
    .yellow-second{
        float:right;
       clear:right;
        background-color: #ffbf47;
    }
    
    .wrapper{
        display:flex;
        justify-content: space-between;
        padding:30px 20px;
        background-color: #f9f5f0;
    }
    .wrapper h2{
    margin:0;
    margin-top:auto;
    margin-bottom:auto;
    color: #32425c;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    
    text-align:left;
    }
    .button{
    padding:15px 40px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    
    background-color: #ee3643;
    border:none;
    }
    .button:hover,
    .button:focus{
        background-color: #ca2c37;
    }
    .button:active{
        background-color: #ba2732;
    }
    .slider{
    position: relative;
    float:left;
    
    width: 620px;
    margin-top:-140px;
    margin-right:20px;
    height: 260px;
    
    background-color:pink;
    }
    .clearfix{
        content:"";
        display:table;
        clear:both;
    }
    .slider-slides{
        margin:0;
        padding:0;
        width:200%;
        list-style:none;
       
    }
    .slider-inner{
       
        overflow: hidden;
    }
    .slider input[type=radio] {
        display: none;
    }
    .slider-item{
        position:relative;
    }
    .slider-item b{
    display:block;
    position:absolute;
    top:20px;
    left:20px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    
    text-align:left;
    
    }
    .slider-item p{
    margin:0;
    position:absolute;
    top:60px;
    left:20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    
    text-align:left;
    
    }
    .slider-controls {
        margin-bottom: 10px;
        text-align: center;
    }
    
    .slider-controls label {
        position:absolute;
        top:50px;
        left:50px;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
        margin: 0 3px;
        cursor: pointer;
    }
    .slider-iten img{
        width: 728px;
        height: 266px;
    }
    
    .slider-controls {
        position:relative;
    }
    .slider-indicator{
        opacity:0;
    }
    
    /*.slider-controls label {
        position:absolute;
        bottom:35px;
        left:30%;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 3px;
        cursor: pointer;
        border-radius:50%;
        color:#ffffff;
        background-color: #ffffff;
    }*/
    
    .slider-indicator::before{
    
    content:"";
    display:block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
    background-color:#ffffff;
    }
    .slider-indicator::before current{
    width: 6px;
    height: 6px;
    background-color: #ee3643;
    border:2px solid #ffffff;
    }
    .btn-forth,
    .btn-back{
       /*display:none;*/
        position:absolute;
        z-index:-1;
    }
    .btn-back{
        bottom:50px;
        left:30px;
    }
    .btn-forth{
    bottom:50px;
    right:330px;
    }
    .btn-forth::after,
    .btn-back::before{
    content:""; 
    display: block;
    position:absolute;
    width: 40px;
    height: 40px;
    z-index:1;
    background-color:#ffffff;
    box-shadow:2px 2px 0 #ffffff;
    }
    .btn-forth::after{
        transform:rotate(-45deg);
        top:0;
        right:0;
    }
    .btn-back::before{
        transform:rotate(45deg);
        top:0;
        left:0;
    }
    
    
    .btn-open{
        position:absolute;
        bottom:-40px;
        left:280px;
    }
    
    .controls{
    background-color: #685c53;
    }
    
    .wrapper{
        margin-bottom:20px;
    }
    .top-products{
        margin-bottom:20px;
    }
    .top-products-list{
        margin:0;
        padding:0;
        display:flex;
        justify-content:space-between;
    
        list-style:none;
    }
    .top-catalog-item{
        margin:0;
        box-sizing: border-box;
        border:1px solid #f9f5f0;
        width:225px;
    }
    /*.product-container{
        display:flex;
        flex-direction: column;
    }*/
    .product-image{
    width: 184px;
    height: 164px;
    }
    .top-catalog-item h3{
    color: #000000;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: none;
    }
    .top-catalog-item span{
    color: #000000;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    }
    .catalog-item-price span{
    color: #a9a9a9;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: line-through;
    text-transform: uppercase;
    }
    .price-label{
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    
    background-color: #ee3643;
    border:none;
    /*добавить уголок!*/
    }
    /*.product-link:hover{
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    }*/
    
    .brands-list{
        margin:0;
        margin-bottom:90px;
        padding:0;
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        
        list-style:none;
    }
    .brands-link{
        width: 253px;
    }
    .brand-item{
        
        box-sizing: border-box;
        margin:0;
        margin-bottom:20px;
        padding:20px;
        border:1px solid #f9f5f0;
        width:225px;
    }
    
    .services{
        padding-top:70px;
        padding-bottom:100px;
        margin-bottom:80px;
        background-color: #f4f7f9;
    }
    .services-slider{
        margin:0;
        padding:0;
    
        list-style:none;
    }
    .services p{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    text-transform:none;
    }
    .services-paragraph{
        margin-bottom:70px;
    }
    
    .services-flex-container{
        display:flex;
        justify-content:flex-start;
        width: 940px;
    
    }
    .slider-item-slide{
        margin:0;
        padding:0;
        width:275px;
    }
    .services h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    }
    .service-list{
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    margin-right:80px;
    width: 240px;
    
    list-style:none;
    }
    .service-item{
        flex-basis:61px;
        padding:20px;
        box-sizing: border-box;
        
        background-color: #32425c;
        box-shadow: inset 0 -1px 0 #33445a;
    }
    .item-current{
        background-color:#ffffff;
    }
    .service-item a{
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px; 
    text-align: left;
    text-transform:none;
    }
    
    .service-item a:hover{
    /*box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;*/
    background-color: #293449;
    }
    .service-item a.active{
    color: #32425c;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    }
    .delivery h3,
    .credit h3,
    .garantee h3
    {
    color: #32425c;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    }
    .delivery p,
    .credit p,
    .garantee p{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    }
    .about-us-container{
        display:flex;
        justify-content:space-between;
    }
    .about-us{
        margin:0;
        width:525px;
    }
    .contacts{
        margin:0;
        width: 300px;
    }
    .about-us h2,
    .contacts h2{
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    
    }
    .about-us p,
    .contacts p{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
    }
    .transport-company-list{
    margin:0;
    margin-bottom:25px;
    margin-left:40px;
    padding:0;
    
    list-style:none;
    }
    .transport-company{
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-transform: none;
    }
    .map-mini{
        width: 300px;
        margin-bottom:40px;
        margin-top:15px;
    }
       
    .main-footer{
        margin-top:90px;
    }
    .main-footer .tel{
        border:0;
    }
    .main-footer .logo{
        width:220px;
        margin:0;
        margin-bottom:20px;
        padding:20px 40px;
        color: #ffffff;
        font-family: Cuprum;
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
        background-color: #ee3643;    
        box-sizing: border-box;
    }
    
    .first-column{
    margin:0;
    margin-right:65px;
    width:330px;
    }
    .second-column{
    margin:0;
    width:555px;
    }
    .footer-column{
    width:100%;
    margin:0;
    padding:0;
    
    background-color: #32425c;
    }
    .footer-column p{
    color: #f3f7f9;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    }
    .footer-nav-list,
    .footer-catalog-list{
        display:flex;
        margin:0;
        padding:0;
    
        list-style: none;
    }
    .footer-nav-list{
        margin-top:30px;
        margin-bottom:20px;
        justify-content: space-between;
    }
    .footer-catalog-list{
        justify-content: space-around;
    }
    .footer-nav-item a{
    color: #f3f7f9;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    }
    .footer-catalog-item a{
    color: #ffd180;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px
    text-transform: none;
    }
    .footer-social .container-joint,
    .footer-column .container-joint{
    display:flex;
    justify-content: space-between;
    }
    .footer-column .container-joint{
        padding-bottom:40px;
    }
    .footer-social{
    width:100%;
    margin:0;
    padding-top:35px;
    padding-bottom:20px;
    
    background-color: #293449;
    }
    .copyright{
    margin:0;
    margin-right:160px;;
    width:235px;
    }
    .source{
    margin:0;
    margin-right:15px;;
    width:100px;
    }
    .feedback{
    margin:0;
    margin-right:50px;;
    width:140px;
    }
    .feedback a:hover,
    .source a:hover,
    .feedback a:focus,
    .source a:focus{
        text-decoration: underline;
    }
    .feedback a:active,
    .source a:active{
        text-decoration: none;
        color: #ffffff;
    }
    .footer-nav-list a:hover,
    .footer-nav-list a:focus,
    .footer-catalog-list a:hover,
    .footer-catalog-list a:focus{
        text-decoration: underline;
    }
    .footer-nav-list a:active
    {
    opacity: 0.5;
    color: #f1f5f7;
    }
    .footer-catalog-list a:active{
    opacity: 0.5;
    color: #ffd180;
    }
    
    .footer-social p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
    text-align: left;
    }
    .footer-social a{
    color: #ffd180;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
    text-align: left;
    }
    .social-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0;
    margin-right:auto;
    padding:0;
    width:135px;
    list-style:none;
    text-align:center;
    }
    .social-buttons li{
        width: 42px;
        height: 42px;
        background-color: #212a3a;
        border-radius:50%;
        display:flex;
    }
    .social-button{
        margin:auto;
    }
    .modal{
       background-color: #ffffff; 
    }
    .modal-form label{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
    text-align: left;
    }
    .modal-form input{
    color: #a9a9a9;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    
    border: 2px solid #dee3e4;
    background-color: #ffffff;
    }
    .letter{
    color: #a9a9a9;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    
    border: 2px solid #dee3e4;
    background-color: #ffffff;
    }
    .modal-form input:focus{
     color: #000000;
     border: 2px solid blue;
    }
    .letter:focus{
     color: #000000;
     border: 2px solid blue;
    }
    .inner-page a.cart-link{
    background-color: #ee3643;
    }
    .user-nav-list{
        list-style: none;
    }
    .user-name{
    color: #000000;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    
    background-color: #ffffff;
    }
    
    
    .user-link{
    color: #32425c;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
    text-transform: none;
    }
    .user-link:hover,
    .user-link:focus{
    color: #ee3643;
    }
    .user-name:active,
    .user-link:active{
    opacity: 0.3;
    color: #32425c;
    }
    .breadcrumbs{
    margin:0;
    padding:0;
    margin-bottom:20px;
    display:inline-block;
    /*white-space: nowrap;*/
    /*display:flex;
    justify-content: flex-start;*/
    
    list-style:none;
    }
    .breadcrumbs-item{
        margin:0;
        margin-left:40px;
        float:left;
    }
    .breadcrumbs-item:first-child{
        margin-left:0;
    }
    .breadcrumbs-item a{
    color: #000000;
    font-family: "PT Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    }
    .container h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align:left;
    }
    .index-columns{
        width: 940px;
        display:flex;
        justify-content: space-between;
    }
    .header-color{
        margin:0;
        color: #32425c;
        text-transform: uppercase;
    }
    .inner-page .main-footer{
        margin-top:0;
    }
    .specification{
    margin-bottom:0;    
    padding:20px 0;
    background-color: #f2f6f8;
    }
    .specification p{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    text-align:left;
    }
    .filter{
    margin:0;
    width: 220px;
    }
    
    .sort{
    margin:0;
    width: 700px;
    }
    /*.column-1{
    margin:0;
    width: 220px;
    
    }
    .column-2{
    margin:0;
    width: 700px;
    }*/
    .filter p{
    margin-top:0px;
    padding:15px 20px;;
    
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align:left;
    text-transform: uppercase;
    
    background-color: #f7f3ec;
    }
    .filter fieldset{
        border:none;
    }
    legend{
    color: #000000;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align:left;
    }
    input[type=checkbox],
    input[type="radio"] {
        display: none;
        }
    .producers-list,
    .supply-type-list{
        list-style:none;
    }
    .products-list{
        width: 700px;
        margin:20px auto;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
      
    }
    .catalog-item{
    position:relative;
    margin:0;
    margin-right:20px;
    margin-bottom:20px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    width:220px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    }
    .catalog-item:nth-child(3n){
        margin-right:0;
    }
    .catalog-item.flag{
        position:absolute;
        top:-1px;
        right:-1px;
        width:60px;
        height:60px;
        text-indent:-1000px;
        font-size:0;
        overflow:hidden;
        z-index:20;
    }
    .catalog-item .flag-new{
        background:url("../img/new-flag.png") no-repeat 0 0;
    }
    .product-image{
        width:218px;
        height:168px;
    }
    .product-image img{
        max-width:100%;
    }
    .catalog-item.title{
        color:#000000;
        min-height:40px;
        padding:0 25px;
        margin-top:10px;
        margin-bottom:15px;    
    }
    .catalog-item .discount{
        min-height:20px;
        margin-top:15px;
        margin-bottom:10px;
        color:#999;
        text-decoration:line-through;
    }
    .price-label{
        position:relative;
        width:80px;
        margin:10px auto;
        margin-bottom:20px;
        padding:10px 30px;
        color:white;
        background:#ee3643;
        border-radius:3px;
    }
    .price-label::after{
        content:"";
        position:absolute;
        top:0;
        right:-20px;
        width:0;
        height:0;
        border:20px solid white;
        border-left-color:#ee3643;
    }
    .catalog-item.actions{
        position:absolute;
        top:0;
        left:0;
        width:218px;
        height:88px;
        padding:40px 0;
        background-color:rgba(255,255,255,0.9);
        z-index:10;
    }
    .catalog-item .actions{
        display:none;
    }
    .catalog-item:hover .actions{
        display:block;
    }
    label{
    color: #000000;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    }
    input[type="checkbox"]+label::before{
        content:"";
        display: block;
        width: 21px;
        height: 21px;
        background-color:transparent;
        border:2px solid  #c5c5c5;
    }
    input[type="checkbox"]:checked+label::before{
        content: url("../img/checkbox-on.png");
    }
    input[type="radio"]+label::before{
        content:"";
        display: block;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color:transparent;
        border:3px solid  #c5c5c5;
    }
    /*input[type="radio"]:checked+label::before{
        content:"";
        display: block;
    }*/
    .fieldset h2{
    color: #000000;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align:left;
    }
    .fieldset span{
    color: #000000;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    
    background-color: #f7f3ec;
    }
    .btn-show{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    }
    .range-input{
    background-color: #f7f3ec;
    }
    .full-track{
        position: relative;
        width: 180px;
        height: 2px;
        background-color: #d7dcde;
    }
    .track{
        position: relative;
        width: 152px;
        height: 2px;
        background-color:#00ca74;
    }
    .thumb{
        position: absolute;
        width: 20px;
        height: 22px;
        border-radius: 50%;
        background-color:white;
    }
    /*.thumb-min{
            position: absolute;
            top:-8px;
            right:300px;
            }
            .thumb-max{
            position: absolute;
            top:-8px;
            right:65px;
            }
            .thumb::after {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            background: #ababab;
            margin: auto;
            }
            .thumb:hover {
            width: 22px;
            height: 24px;
            top:-8px;
            }
            .thumb-min:hover {
            width: 24px;
            height: 24px;
            }
            .thumb-max:hover {
            width: 24px;
            height: 24px;
            }*/
    
    .sort{
        display:flex;
        justify-content: flex-end;
        padding:5px 20px;
        box-sizing: border-box;
    
        background-color: #f7f3ec;
    }     
    .sort h2{
    margin-right:auto;
    
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align:left;
    }   
    .sort-option{
    margin-right:70px;
    
    opacity: 0.3;
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    /*border-bottom:1px solid red;*/
    }
    .sort-option:hover,
    .sort-option:focus{
    opacity:1;
    color: #000000;
    }
    .products-list,
    .pagination{
        list-style: none;
    }
    .catalog-item h3{
    color: #000000;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: none;
    }
    .catalog-item span{
    color: #000000;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    }
    .catalog-item-price span{
    color: #999999;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: line-through;
    text-transform: uppercase;
    }
    .pagination{
        display:flex;
        width:300px;
        flex-wrap:wrap;
        justify-content: space-between;
        margin-bottom:60px;
    }
    .pagination-item{
        min-width:40px;
        height:40px;
        margin-right:10px;
       
    }
    .pagination-item a{
    color: #000000;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-align:center;
    padding:10px 15px;
    
    border: 1px solid #e5e5e5;
    background-color:transparent;
    }
    
    .pagination-item a:hover,
    .pagination-item a:focus
    {
        border: 1px solid #ee3643;;
    }
    .current-page a{
    color:#ffffff;
    
    background-color: #ee3643;
    border:none;
    }
    .btn-buy{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-align:center;
    
    box-shadow: inset 0 -3px 0 #367315;
    background-color: #63a63e;
    }
    .btn-buy:hover,
    .btn-buy:focus{
    box-shadow: inset 0 -3px 0 #367315;
    background-color: #5fbb2d;
    }
    .btn-buy:active{
    background-color: #518534;
    box-shadow:0 0 0 0;
    }
    .btn-tab{
    color: #32425c;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-align:center;
    
    border: 3px solid #63a63e;
    background-color: transparent;
    }
    .btn-tab:hover,
    .btn-tab:focus{
    border: 3px solid #32425c;
    }
    .btn-tab:active{
    opacity: 0.3;
    color: #32425c;
    
    border: 3px solid #32425c;
    opacity: 0.3;
    }
    .visually-hidden:not(:focus):not(:active),
     input[type="checkbox"].visually-hidden,
     input[type="radio"].visually-hidden {
       position: absolute;
     
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;
     
       white-space: nowrap;
     
       -webkit-clip-path: inset(100%);
     
               clip-path: inset(100%);
       clip: rect(0 0 0 0);
       overflow: hidden;
     }
    
    