@font-face {
	font-family: "PT Sans";
	src: local("PT Sans"), url("../css/fonts/ptsans.woff2") format("woff2"), url("../css/fonts/ptsans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: local("PT Sans Bold"), url("../css/fonts/ptsansbold.woff2") format("woff2"), url("../css/fonts/ptsans.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: local("Cuprum"), url("../css/fonts/cuprum.woff2") format("woff2"), url("../css/fonts/cuprum.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: local("Cuprum Bold"), url("../css/fonts/cuprumbold.woff2") format("woff2"), url("../css/fonts/cuprumbold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: local("Cuprum Italic"), url("../css/fonts/cuprumitalic.woff2") format("woff2"), url("../css/fonts/cuprumitalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

html,
body {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 1200px;
	height: 100%;
	font-family: 'Cuprum', Arial, sans-serif;
	color: #000000;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.button {
	padding: 10px 40px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ee3643;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.container-joint {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}


/*--------------------HEADER--------------------------*/

.main-header {
	width: 100%;
	margin-bottom: 60px;
	background-color: #f3f7f8;
}

.inner-page .main-header {
	margin-bottom: 15px;
}

.main-header-wrapper {
	display: flex;
	flex-direction: column;
}

.top-menu {
	width: 100%;
	height: 42px;
	background-color: #293449;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.top-menu .logo {
	float: left;
	margin: 0;
	min-height: 47px;
	padding: 13px 55px 15px 55px;
	color: #ffffff;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	background-color: #ee3643;
}

.top-menu .logo:hover,
.top-menu .logo:focus {
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	background-color: #ca2c37;
}

.top-menu .logo:active {
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	background-color: #ba2732;
}

.top-menu-input {
	float: left;
	margin: 0;
	margin-left: auto;
	margin-right: 40px;
}

.search-input {
	position: relative;
	margin: 0;
	width: 270px;
	height: 42px;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	box-sizing: border-box;
	padding: 12px 16px;
	padding-left: 40px;
	background-color: #293449;
	background-image: url("../img1/icon-search.png");
	background-repeat: no-repeat;
	background-position: 5%;
	border: none;
}

.search-input:hover {
	background-color: #212a3a;
	background-image: url("../img1/icon-search-bright.png");
	background-repeat: no-repeat;
	background-position: 5%;
}

.search-input:focus,
.search-input:active {
	color: #000000;
	background-color: #ffffff;
	background-image: url("../img1/icon-search-red.png");
	background-repeat: no-repeat;
	background-position: 5%;
}

.tab,
.cart-link {
	position: relative;
	float: left;
	margin: 0;
}

.tab {
	margin-left: -40px;
}

.tab:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 10px;
	;
	width: 14px;
	height: 16px;
	background-image: url("../img1/icon-bookmark.png");
}

.tab:hover:before {
	background-image: url("../img1/icon-bookmark-bright.png");
}

.cart-link:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 10px;
	;
	width: 15px;
	height: 15px;
	background-image: url("../img1/cart-icon.png");
}

.cart-link:hover:before {
	background-image: url("../img1/cart-icon-bright.png");
}

input::-webkit-input-placeholder {
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
}

input:-moz-placeholder {
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
}

.top-menu a {
	display: block;
	height: 42px;
	color: #ffffff;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	padding: 12px 40px;
	padding-left: 40px;
	box-sizing: border-box;
	background-color: #293449;
}

.cart-link {
	padding-right: 41px;
}

.top-menu a:hover,
.top-menu a:focus {
	background-color: #212a3a;
}

.top-menu a:active {
	color: rgba(255, 255, 255, 0.51);
	background-color: #161d29;
}

.top-menu a:last-child {
	float: right;
	padding: 12px 20px;
	padding-left: 18px;
	background-color: #63a63e;
	text-align: center;
}

.top-menu a:last-child:hover,
.top-menu a:last-child:focus {
	background-color: #5fbb2d;
}

.top-menu a:last-child:active {
	color: rgba(255, 255, 255, 0.51);
	background-color: #518534;
}

.presentation {
	width: 196px;
	margin: 0;
	margin-left: 40px;
	color: #ee3643;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	font-weight: normal;
}

.row-2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 40px;
	padding-bottom: 35px;
}

.header-flex-column {
	width: 270px;
	text-align: center;
}

.adress {
	margin: 0;
	padding: 0;
	color: #32425c;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.tel-header {
	position: relative;
	margin: 0;
	padding: 13px 52px 11px 74px;
	color: #ee3643;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	border: 3px solid #ffffff;
}

.tel-header:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 12px;
	width: 19px;
	height: 19px;
	background: url("../img1/icon-phone.png");
}

.user-navigation {
	width: 284px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-navigation li {
	display: inline-block;
	vertical-align: middle;
}

.login-index {
	margin-right: 10px;
}

.login-link,
.check-in-link {
	display: block;
	padding: 14px 25px;
	background-color: #ffffff;
	color: #000000;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
}

.login-link {
	position: relative;
	padding-top: 12px;
	padding-bottom: 10px;
	padding-left: 40px;
}

.login-inner {
	margin: 0;
	max-width: 100%;
	padding-right: 55px;
}

.login-inner:before {
	content: "";
	position: absolute;
	top: 15px;
	left: 10px;
	width: 20px;
	height: 18px;
	background-image: url("../img1/icon-user.png");
	background-repeat: no-repeat;
}

.login-inner:hover:before {
	background-image: url("../img1/icon-user-bright.png");
	background-repeat: no-repeat;
}

.login-inner:after {
	content: "";
	position: absolute;
	top: 15px;
	right: 10px;
	width: 20px;
	height: 17px;
	background-image: url("../img1/icon-login.png");
	background-repeat: no-repeat;
}

.login-inner:hover:after {
	background-image: url("../img1/icon-login-bright.png");
	background-repeat: no-repeat;
}

.login-index:before {
	content: "";
	position: absolute;
	top: 15px;
	left: 10px;
	width: 20px;
	height: 17px;
	background-image: url("../img1/icon-login.png");
	background-repeat: no-repeat;
}

.login-index:hover:before {
	background-image: url("../img1/icon-login-bright.png");
	background-repeat: no-repeat;
}

.login-link:hover,
.check-in-link:hover,
.login-link:focus,
.check-in-link:focus {
	color: #ee3643;
}

.login-link:active,
.check-in-link:active {
	opacity: 0.3;
	color: #000000;
}

.main-navigation {
	margin: 0 auto;
	margin-bottom: 60px;
	padding: 0;
	border-bottom: 1px solid transparent;
}

.main-nav-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	box-shadow: inset 0 -5px 0 #293449;
	background-color: #32425c;
}

.main-nav-item a {
	display: block;
	margin: 0;
	padding: 22px 30px;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 17px;
}

.main-nav-item a:hover,
.main-nav-item a:focus {
	background-color: #293449;
}

.main-nav-item a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

.inner-page .cart-link {
	background-color: #ee3643;
}

.user-link,
.orders-link {
	display: inline-block;
	vertical-align: baseline;
	padding: 0 10px;
	margin: 0;
	color: #32425c;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: underline;
	text-transform: none;
}

.user-link {
	position: relative;
}

.user-link:before {
	content: "";
	position: absolute;
	top: 5px;
	left: -5px;
	width: 4px;
	height: 5px;
	background-color: #32425c;
}

.user-link:hover,
.user-link:focus,
.orders-link:hover,
.orders-link:focus {
	color: #ee3643;
}

.orders-link:active,
.user-link:active {
	color: rgba(0, 0, 0, 0.3);
}


/*----------------------PAGE 1---------------------*/

.main-catalog-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-catalog {
	margin-bottom: 50px;
}

.main-catalog-item {
	margin-bottom: 20px;
	box-sizing: border-box;
	padding: 25px;
	margin: 0;
	width: 300px;
}

.main-catalog-item p {
	margin: 0;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}

.main-catalog-item a {
	padding: 11px 24px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.1);
}

.main-catalog-item a:hover,
.main-catalog-item a:focus {
	background-color: #000000;
	opacity: 0.2;
}

.main-catalog-item a:active {
	background-color: #000000;
	opacity: 0.3;
}

.yellow {
	position: relative;
	float: left;
	margin-right: 20px;
	background-color: #ffbf47;
	background-image: url("../img1/new-flag.png");
	background-position: 100% 0;
	background-repeat: no-repeat;
}

.yellow:after {
	content: '';
	position: absolute;
	top: 30px;
	right: 40px;
	width: 44px;
	height: 65px;
	background: url("../img1/icon-bucket.png");
}

.blue {
	position: relative;
	float: left;
	margin-right: 20px;
	background-color: #3bbce3;
}

.blue:after {
	content: '';
	position: absolute;
	top: 30px;
	right: 30px;
	width: 75px;
	height: 61px;
	background: url("../img1/icon-perf.png");
}

.purple {
	position: relative;
	margin-bottom: 20px;
	float: right;
	background-color: #dc91d8;
}

.purple:after {
	content: '';
	position: absolute;
	top: 30px;
	right: 30px;
	width: 78px;
	height: 62px;
	background: url("../img1/icon-tech.png");
}

.green {
	position: relative;
	margin-bottom: 20px;
	float: right;
	clear: right;
	background-color: #8ed78f;
}

.green:after {
	content: '';
	position: absolute;
	top: 26px;
	right: 45px;
	width: 59px;
	height: 72px;
	background: url("../img1/icon-cart-big.png");
}

.yellow-second {
	position: relative;
	float: right;
	clear: right;
	background-color: #ffbf47;
}

.yellow-second:after {
	content: '';
	position: absolute;
	top: 30px;
	right: 30px;
	width: 78px;
	height: 63px;
	background: url("../img1/icon-delivery.png");
}

.slider {
	position: relative;
	float: left;
	width: 620px;
	margin-top: -140px;
	margin-right: 20px;
	height: 260px;
	overflow: hidden;
	background-color: #f4f8f9;
}

.slider-slides {
	margin: 0;
	padding: 0;
}

.slider-inner {
	width: 200%;
}

.slider-item {
	position: relative;
	float: left;
	margin: 0;
}

.slider-item:first-child:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 105px;
	background-image: url("../img1/slider-mask1.png");
}

.slider-item:nth-child(2):before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 105px;
	background-image: url("../img1/slider-mask2.png");
}

.slider-item b {
	display: block;
	position: absolute;
	z-index: 3;
	top: 25px;
	left: 25px;
	color: #ffffff;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	text-align: left;
}

.slider-item p {
	margin: 0;
	position: absolute;
	z-index: 3;
	top: 65px;
	left: 25px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.slider input[type=radio] {
	display: none;
}

.slider-controls label {
	display: block;
	position: absolute;
	width: 22px;
	height: 22px;
	z-index: 1;
	background-color: transparent;
	border-top: 4px solid #ffffff;
	border-left: 4px solid #ffffff;
}

.slider-controls label:first-child {
	transform: rotate(135deg);
	top: 118px;
	right: 30px;
}

.slider-controls label:nth-child(2) {
	transform: rotate(-45deg);
	top: 118px;
	left: 30px;
	;
}

.btn-open {
	position: absolute;
	bottom: 20px;
	left: 25px;
	padding: 10px 50px;
}

.slider-iten img {
	width: 620px;
	height: 266px;
}

#btn-1:checked~.slider-inner .slider-slides {
	transform: translate(0);
}

#btn-2:checked~.slider-inner .slider-slides {
	transform: translateX(-620px);
}

.slider-indicators {
	position: absolute;
	bottom: 32px;
	left: 294px;
	width: 30px;
	height: 10px;
}

.slider-indicator::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ffffff;
}

.indicator-current::before {
	position: absolute;
	top: 0;
	left: 20px;
	;
	width: 6px;
	height: 6px;
	background-color: #ee3643;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.top-products {
	margin-bottom: 20px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 30px 20px;
	padding-left: 30px;
	background-color: #f9f5f0;
	margin-bottom: 20px;
}

.wrapper h2 {
	margin: 0;
	margin-top: auto;
	margin-bottom: auto;
	color: #32425c;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	text-align: left;
}

.products-link {
	padding-right: 55px;
	padding-left: 55px;
}

.home-page .catalog-items {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
}


/*-------------------------------------------------------------------------*/

.brands-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
}

.brands-link {
	padding-left: 70px;
	padding-right: 70px;
}

.brand-item {
	display: flex;
	width: 225px;
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 20px;
	padding: 20px;
	padding-top: 30px;
	border: 1px solid #f9f5f0;
}

.bosch-logo {
	margin: auto;
}

.makita-logo {
	margin: auto;
}

.dewalt-logo {
	margin: auto;
}

.interschol -logo {
	margin: auto;
	margin-top: 20px;
}

.hitachi-logo {
	margin: auto;
}

.lg-logo {
	margin: auto;
}

.aeg-logo {
	margin: auto;
}

.metabo-logo {
	margin: auto;
	margin-top: 14px;
}

.brands {
	margin-bottom: 60px;
}

.services {
	width: 100%;
	padding-top: 45px;
	margin-bottom: 55px;
	background-color: #f4f7f9;
}

.services h2 {
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}

.services-paragraph {
	margin-bottom: 70px;
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-transform: none;
}

.services p {
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-transform: none;
}

.service-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	margin-right: 80px;
	margin-bottom: 100px;
	width: 240px;
	list-style: none;
}

.service-item {
	flex-basis: 61px;
	box-sizing: border-box;
}

.service-item .active {
	background-color: #ffffff;
	color: #32425c;
}

.service-item .active:hover {
	background-color: #293449;
	color: #ffffff;
}

.service-item a {
	display: block;
	padding: 16px 18px;
	background-color: #32425c;
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 30px;
	text-align: left;
	text-transform: none;
}

.var {
	border-bottom: 1px solid lightblue;
	/*----------------------------------*/
}

.service-item a:hover {
	background-color: #293449;
	color: #ffffff;
}

.service-item a.active {
	color: #32425c;
	font-size: 21px;
	font-weight: 700;
	line-height: 30px;
}

.slide-paragraph {
	margin: 0;
}

.slide-paragraph-first {
	width: 275px;
	margin-bottom: 130px;
}

.slide-paragraph-second {
	width: 386px;
	margin-bottom: 30px;
}

.slide-paragraph-third {
	width: 400px;
	margin-bottom: 85px;
}

.button-credit {
	margin-bottom: 140px;
}

.services-slider {
	margin: 0;
	padding: 0;
	flex-grow: 2;
	list-style: none;
}

.services-flex-container {
	display: flex;
	justify-content: space-between;
	width: 940px;
}

.slider-item-slide {
	margin: 0;
	padding: 0;
	border: 1px solid transparent;
}

.slider-item-slide:first-child {
	background-image: url("../img1/track.png"), url("../img/layer-121.png");
	background-position: 100% 20%, 100% 100%;
	background-repeat: no-repeat, no-repeat;
}

.slider-item-slide:nth-child(2) {
	background-image: url("../img1/credit.png"), url("../img1/credit-shadow.png");
	background-position: 100% 0, 100% 0;
	background-repeat: no-repeat, no-repeat;
}

.slider-item-slide:nth-child(3) {
	background-image: url("../img1/garantie.png"), url("../img1/garant-shadow.png");
	background-position: 100% 0, 100% 0;
	background-repeat: no-repeat, no-repeat;
}

.about-us-container {
	display: flex;
	justify-content: space-between;
}

.about-us {
	margin: 0;
	width: 525px;
}

.contacts {
	margin: 0;
	width: 300px;
}

.about-us h2,
.contacts h2 {
	color: #000000;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	text-align: left;
}

.about-us p,
.contacts p {
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-transform: none;
}

.shopping {
	margin-bottom: 25px;
}

.transport-company-list {
	margin: 0;
	margin-bottom: 25px;
	margin-left: 40px;
	padding: 0;
	list-style: none;
}

.transport-company {
	position: relative;
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
	text-transform: none;
}

.transport-company:before {
	content: "";
	width: 2px;
	height: 25px;
	position: absolute;
	top: 5px;
	left: -30px;
	transform: rotate(90deg);
	background-color: #ee3643;
}

.map-mini {
	width: 300px;
	margin-bottom: 40px;
	margin-top: 15px;
}

.button-write {
	padding: 10px 60px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ee3643;
	border: none;
	width: 100%;
}

.main-footer {
	margin-top: 90px;
}

.inner-page .main-footer {
	margin-top: 0;
}

.footer-column {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #32425c;
}

.main-footer .logo {
	width: 220px;
	margin: 0;
	margin-bottom: 30px;
	padding: 20px 40px;
	color: #ffffff;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	background-color: #ee3643;
	box-sizing: border-box;
}

.first-column {
	margin: 0;
	margin-right: 65px;
	width: 330px;
}

.second-column {
	margin: 0;
	width: 555px;
}

.main-footer .tel {
	border: 0;
}

.footer-column p {
	margin: 0;
	color: #f3f7f9;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.footer-nav-list,
.footer-catalog-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-nav-list {
	margin-top: 30px;
	margin-bottom: 20px;
	justify-content: space-between;
}

.footer-catalog-list {
	justify-content: space-around;
}

.footer-nav-item a {
	color: #f3f7f9;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-transform: none;
}

.footer-catalog-item a {
	color: #ffd180;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-transform: none;
}

.footer-social .container-joint,
.footer-column .container-joint {
	display: flex;
	justify-content: space-between;
}

.footer-column .container-joint {
	padding-bottom: 40px;
}

.footer-social {
	width: 100%;
	margin: 0;
	padding-top: 35px;
	padding-bottom: 20px;
	background-color: #293449;
}

.copyright {
	margin: 0;
	margin-right: 160px;
	;
	width: 235px;
}

.source {
	margin: 0;
	margin-right: 15px;
	;
	width: 100px;
}

.feedback {
	margin: 0;
	margin-right: 50px;
	;
	width: 140px;
}

.feedback a:hover,
.source a:hover,
.feedback a:focus,
.source a:focus {
	text-decoration: underline;
}

.feedback a:active,
.source a:active {
	text-decoration: none;
	color: #ee3643;
}

.footer-nav-list a:hover,
.footer-nav-list a:focus,
.footer-catalog-list a:hover,
.footer-catalog-list a:focus {
	text-decoration: underline;
}

.footer-nav-list a:active {
	opacity: 0.5;
	color: #f1f5f7;
}

.footer-catalog-list a:active {
	opacity: 0.5;
	color: #ffd180;
}

.footer-social p {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: none;
	text-align: left;
}

.footer-social a {
	color: #ffd180;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: none;
	text-align: left;
}

.social-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	margin-right: auto;
	padding: 0;
	width: 135px;
	list-style: none;
	text-align: center;
}

.social-buttons li {
	width: 42px;
	height: 42px;
	background-color: #212a3a;
	border-radius: 50%;
	display: flex;
}

.social-buttons li:hover {
	background-color: #ee3643;
}

.social-button {
	margin: auto;
}


/*------------------------------PAGE-2--------------------------------------*/

.breadcrumbs {
	margin: 0;
	margin-left: -25px;
	padding: 0;
	margin-bottom: 15px;
	list-style: none;
}

.breadcrumbs-item {
	margin: 0;
	display: inline-block;
	vertical-align: baseline;
}

.breadcrumbs-item:first-child {
	margin-left: 0;
}

.breadcrumbs-item a {
	display: block;
	padding-left: 35px;
	position: relative;
	color: #000000;
	font-size: 13px;
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.breadcrumbs-item a:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-top: 1px solid #f2f6f8;
	border-right: 1px solid #f2f6f8;
	transform: rotate(45deg);
}

.home:before {
	display: none;
	padding: 0;
}

.container h2 {
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	text-align: left;
}

.index-columns {
	width: 940px;
	display: flex;
	justify-content: space-between;
}

.header-color {
	margin: 0;
	margin-bottom: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.column-1 {
	margin: 0;
	margin-right: 20px;
	width: 220px;
}


/*------------------------------FILTER--------------------------*/

.filter {
	margin: 0;
	width: 220px;
}

.filter p {
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 20px;
	;
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

.filter fieldset {
	margin: 0;
	border: none;
}

.fieldset h2 {
	margin-bottom: 14px;
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	text-align: left;
}

.fieldset span {
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

.filter-range {
	margin: 0;
	padding: 0;
	width: 100%;
	margin-bottom: 10px;
	background-color: #f7f3ec;
}

.range-controls {
	position: relative;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	padding-top: 39px;
	box-sizing: border-box;
	min-height: 80px;
	background-color: #f7f3ec;
}

.range-controls .scale {
	width: 80%;
	margin-left: 20px;
	height: 2px;
	background-color: #d7dcde;
}

.range-controls .bar {
	width: 152px;
	height: 2px;
	background-color: #00ca74;
}

.range-toggle {
	position: absolute;
	top: 30px;
	left: 20px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle-max {
	left: 160px;
}

.price-controls {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	width: 100%;
}

.min-price,
.max-price {
	display: inline-block;
	vertical-align: baseline;
	border: none;
	padding: 5px 20px;
	box-sizing: border-box;
	width: 95px;
	height: 38px;
	background-color: #f7f3ec;
	text-align: center;
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.min-price {
	margin-right: 10px;
}

.fieldset {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
}

.fieldset label {
	position: relative;
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}

legend {
	margin: 0;
	margin-bottom: -25px;
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.producer-item {
	margin: 0;
	margin-bottom: 7px;
}

.supply-item {
	margin: 0;
	margin-bottom: 7px;
}

.producer-item:last-child {
	margin-bottom: -25px;
}

input[type=checkbox],
input[type="radio"] {
	display: none;
}

input[type="checkbox"]+label::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: -40px;
	width: 19px;
	height: 19px;
	background-color: transparent;
	border: 2px solid #c5c5c5;
}

input[type="checkbox"]:hover+label::before,
input[type="checkbox"]:focus+label::before {
	border: 2px solid #b5b5b5;
}

input[type="checkbox"]:disabled+label {
	color: rgba(0, 0, 0, 0.4);
}

input[type="checkbox"]:disabled+label::before {
	border: 2px solid rgba(0, 0, 0, 0.1);
}

input[type="checkbox"]:checked+label::before {
	border: none;
	content: url("../img1/checkbox-on.png");
}

input[type="checkbox"]:checked:hover+label::before,
input[type="checkbox"]:checked:focus+label::before {
	border: none;
	content: url("../img1/checkbox-on-hover.png");
}

input[type="radio"]+label::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: -40px;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: transparent;
	border: 3px solid #c5c5c5;
}

input[type="radio"]:hover+label::before,
input[type="radio"]:focus+label::before {
	border: 3px solid #b5b5b5;
}

input[type="radio"]:disabled+label {
	color: rgba(0, 0, 0, 0.4);
}

input[type="radio"]:disabled+label::before {
	border: 2px solid rgba(0, 0, 0, 0.1);
}

input[type="radio"]:checked+label::before {
	display: inline-block;
	vertical-align: middle;
}

input[type="radio"]:checked+label::after {
	content: "";
	position: absolute;
	top: 6px;
	left: -32px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #c5c5c5;
}

input[type="radio"]:checked:hover+label::before,
input[type="radio"]:checked:focus+label::before {
	border: 3px solid #b5b5b5;
}

input[type="radio"]:checked:hover+label::after,
input[type="radio"]:checked:focus+label::after {
	background-color: #b5b5b5;
}

input[type="radio"]:checked:disabled+label::before {
	border: 3px solid rgba(0, 0, 0, 0.1);
}

input[type="radio"]:checked:disabled+label {
	color: rgba(0, 0, 0, 0.4);
}

input[type="radio"]:checked:disabled+label::after {
	background-color: rgba(0, 0, 0, 0.4);
}

.producers-list,
.supply-type-list {
	list-style: none;
}

.btn-show {
	margin-top: 50px;
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
}

.btn-show:hover,
.btn-show:focus {
	border: 1px solid #ee3643;
	background-color: #ffffff;
}

.btn-show:active {
	color: #ffffff;
	background-color: #ee3643;
	border: none;
}

.sort {
	margin: 0;
	padding: 3px 20px 4px;
	width: 700px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	background-color: #f7f3ec;
}

.sort-heading {
	margin: 0;
	margin-right: 80px;
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}

.sort-option {
	color: rgba(0, 0, 0, 0.3);
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 1px dotted #ee3643;
}

.sort-pointers {
	margin: 0;
	padding: 0;
}

.sort-pointer-link:first-child {
	margin-right: 10px;
}

.sort-pointer-link:hover path,
.sort-pointer-link:focus path {
	fill: black;
}

.current-sort-option {
	color: #ee3643;
	border-bottom: none;
}

.sort-option:hover,
.sort-option:focus {
	color: #000000;
}

.sort-option:active {
	color: #ee3643;
	border-bottom: none;
}

.pagination {
	display: flex;
	width: 285px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -40px;
	margin-bottom: 60px;
}

.pagination-item {
	min-width: 40px;
	height: 40px;
	margin-right: 10px;
}

.pagination-item:last-child {
	margin-right: 0;
}

.pagination-item a {
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 15px;
	border: 1px solid #e5e5e5;
	background-color: transparent;
}

.pagination-item a:hover,
.pagination-item a:focus {
	border: 1px solid #ee3643;
	;
}

.current-page a {
	color: #ffffff;
	background-color: #ee3643;
	border: none;
}

.products-list,
.pagination {
	list-style: none;
}

.specification {
	margin-bottom: 0;
	padding: 20px 0;
	padding-top: 50px;
	background-color: #f2f6f8;
}

.specification p {
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-bottom: 50px;
}


/*-------------------------------CATALOG-----------------------------------*/

.catalog-items-index {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 20px auto;
}

.inner-page .catalog-items {
	width: 700px;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog-item {
	position: relative;
	margin: 0;
	margin-right: 20px;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	width: 220px;
	color: #000000;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}

.home-page .catalog-item:last-child {
	margin-right: 0;
}

.inner-page .catalog-item {
	margin-bottom: 15px;
}

.inner-page .catalog-item:nth-child(3n) {
	margin-right: 0;
}

.discount {
	color: #a9a9a9;
	line-height: 18px;
	text-decoration: line-through;
	text-transform: uppercase;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 8px;
}

.price-label {
	position: relative;
	width: 80px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: white;
	background: #ee3643;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	line-height: 18px;
	text-transform: uppercase;
}

.price-label::after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 19px solid white;
	border-left-color: #ee3643;
}

.catalog-item .flag {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}

.catalog-item .flag-new {
	background: url("../img1/new-flag.png") no-repeat 0 0;
}

.perf-image-big {
	margin-top: 6px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	width: 184px;
	height: 164px;
}

.perf-image-standart {
	width: 144px;
	height: 128px;
	margin-top: 22px;
	margin-left: 27px;
	margin-right: 49px;
	margin-bottom: 33px;
}

.perf-image-small {
	margin-top: 29px;
	margin-left: 40px;
	margin-right: 53px;
	margin-bottom: 40px;
	width: 127px;
	height: 112px;
}

.catalog-item .image img {
	max-width: 100%;
}

.catalog-item .title {
	min-height: 40px;
	padding: 0 20px;
	margin-top: 10px;
}

.only-label {
	margin-top: 45px;
}

.catalog-item .actions {
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 10;
}

.catalog-item .actions {
	display: none;
}

.catalog-item:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .actions {
	display: block;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	background-color: #63a63e;
	color: white;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
}

.catalog-item .actions .bookmark {
	color: #32425c;
	border: 3px solid #63a63e;
	background-color: #ffffff;
}

.catalog-item .actions .bookmark:hover,
.catalog-item .actions .bookmark:focus {
	border: 3px solid #32425c;
}

.catalog-item .actions .bookmark:active {
	border: 3px solid #32425c;
	opacity: 0.3;
}

.catalog-item .actions .buy:hover,
.catalog-item .actions .buy:focus {
	background-color: #5fbb2d;
}

.catalog-item .actions .buy:active {
	background-color: #518534;
	box-shadow: none;
	border: none;
}


/*-------------------------MODAL------------------------*/

.modal {
	z-index: 100;
	background-color: #ffffff;
}

.modal-show {
	display: block;
}

.modal-overlay {
	display: none;
	z-index: 50;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.1);
}

.modal-map {
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	width: 943px;
	height: 449px;
	margin-top: -225px;
	margin-left: -470px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.map-container {
	margin: 0;
	padding: 0;
}

.modal-message {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -215px;
	margin-left: -310px;
	padding: 38px 83px 56px;
	width: 620px;
	height: 430px;
	border-top: 7px solid red;
	border-bottom: 112px solid #f4f4f4;
	box-sizing: border-box;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-form {
	position: relative;
}

.modal-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 21px;
	height: 21px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.modal-close:before,
.modal-close:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 3px;
	height: 22px;
	background-color: #ee3643;
}

.modal-close:before {
	transform: rotate(45deg);
}

.modal-close:after {
	transform: rotate(-45deg);
}

.form-input {
	display: inline-block;
	margin: 0;
	width: 220px;
}

.name-input,
.email-input {
	width: 100%;
	height: 38px;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid #dee3e4;
	background-color: #ffffff;
}

.button-send {
	padding: 14px 200px;
	margin-bottom: 37px;
}

.modal-form label {
	color: #000000;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	text-transform: none;
	text-align: left;
}

.modal-form input {
	color: #a9a9a9;
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	border: 2px solid #dee3e4;
	background-color: #ffffff;
}

.letter-input label {
	display: block;
	margin-bottom: 10px;
}

.letter {
	width: 100%;
	padding: 10px;
	margin-bottom: 40px;
	color: #a9a9a9;
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	box-sizing: border-box;
	border: 2px solid #dee3e4;
	background-color: #ffffff;
}

.modal-form input:focus {
	color: #000000;
	border: 2px solid blue;
}

.letter:focus {
	color: #000000;
	border: 2px solid blue;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
